@use 'variables' as vars;

.button {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    min-width: 152px;
    min-height: 63px;
    padding: 0 24px;

    border-radius: 10px;
    background-color: vars.$color-primary;

    color: #fff;
    font-family: vars.$font-primary;
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;

    transition: background-color 0.2s ease;

    &:hover {
         background-color: vars.$color-primary-dark;
    }

    &--outline {
        background-color: transparent;
        border: 1px solid vars.$color-primary;
        color: vars.$color-primary;

        &:hover {
            background-color: vars.$color-primary;
            color: #fff;
        }
    }
}