// Colors
$color-primary: #007A4A;
$color-primary-dark: #00633C;
$color-background: #F5F3EF;
$color-background-light: #FAF9F7;
$color-text: #292929;
$color-text-light: #686868;
$color-available: #007A4A;
$color-unavailable: #A13E3E;
$color-table-row: #edf2f6;

// Fonts
$font-primary: 'Inter', sans-serif;
$font-title: 'Playfair Display', serif;


// Containers
$container-width: 1140px;
