// Colors
$color-primary: #00AC66;
$color-primary-dark: #007A4A;
$color-background: #F5F3EF;
$color-background-light: #FAF9F7;
$color-text: #292929;
$color-text-light: #A6A6A6;
$color-available: #6dc5a1;
$color-unavailable: #c56d6d;
$color-table-row: #edf2f6;

// Fonts
$font-primary: 'Inter', sans-serif;
$font-title: 'Playfair Display', serif;


// Containers
$container-width: 1140px;