# Configuration locale
/config/config.php

# Fichiers uploadés par les utilisateurs
/public/uploads/*

# Conserver le dossier uploads
!/public/uploads/.gitkeep

# Sass
.sass-cache/
*.css.map

# IDE / OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Node
/node_modules/